<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>111</td><td>CheckoutItem.verifyTheDescriptionAndPriceOfItem_111()[pri:0, instance:requirements.CheckoutItem@7c469c48]<br/></td></tr>
<tr><td>A:Chaithra</td><td>CheckoutItem.verifyTheDescriptionAndPriceOfItem_111()[pri:0, instance:requirements.CheckoutItem@7c469c48]<br/></td></tr>
<tr><td>id</td><td>CheckoutItem.verifyTheDescriptionAndPriceOfItem_111()[pri:0, instance:requirements.CheckoutItem@7c469c48]<br/></td></tr>
</table>
