<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b46fba">  <td>19/08/23 18:33:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Configuration.setUp()[pri:0, instance:requirements.CheckoutItem@7c469c48]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>19/08/23 18:34:03</td>   <td>18195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutItem.verifyTheDescriptionAndPriceOfItem_111()[pri:0, instance:requirements.CheckoutItem@7c469c48]">verifyTheDescriptionAndPriceOfItem_111</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>19/08/23 18:35:21</td>   <td>96378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Configuration.tearDown(org.testng.ITestResult)[pri:0, instance:requirements.CheckoutItem@7c469c48]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>19/08/23 18:35:21</td>   <td>96379</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Configuration.closeBrowser()[pri:0, instance:requirements.CheckoutItem@7c469c48]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
</table>
